@model ZalakProject.ViewModels.ProductCreateViewModel

@{
    ViewData["Title"] = "Add New Product";
    var categories = ViewBag.Categories as List<SelectListItem>;
}

<h2>Add New Product</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="SellerId"/>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>

    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StockQuantity" class="form-label"></label>
        <input asp-for="StockQuantity" class="form-control" />
        <span asp-validation-for="StockQuantity" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="categories" class="form-select">
            <option value="">-- Select Category --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Images" class="form-label">Upload Images</label>
        <input asp-for="Images" type="file" multiple class="form-control" />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Add Product</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}